DS_Store
.idea
.DS_Store
doc/tex/optimization/.DS_Store
doc/tex/optimization/milp/.DS_Store
pyrrrateFBA/examples/.DS_Store
pyrrrateFBA/examples/Covert2002/.DS_Store
pyrrrateFBA/examples/Covert2002/.ipynb_checkpoints/
pyrrrateFBA/examples/Covert2002/turnover_latex.txt
pyrrrateFBA/examples/__pycache__/
pyrrrateFBA/examples/deFBA/.DS_Store
pyrrrateFBA/examples/hybrid_automata/.DS_Store
pyrrrateFBA/examples/rdeFBA/.DS_Store
pyrrrateFBA/optimization/.DS_Store
pyrrrateFBA/optimization/__pycache__/
__pycache__/